.body {
  font-family: Federo, sans-serif;
  background-color: #796D5B;
}

#display {
  margin-top: 20px;
}

/* #cardCol {
  overflow-y: scroll;
  height: 525px;
} */


.card {
  margin: 5px;
  flex-direction: row;
  max-height: 100px;
  overflow: hidden;

}

 .card img {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
} 

.card-body {
  padding: 0px;
  display: flex;

  margin: 5px;
}

.card-text {
  /* margin: 0px; */
  font-size: small;
  margin-top: auto;
}

.cardDist {
  margin-bottom: auto;
  margin-left: auto;
}

.cbCont1 {
  display: flex;
  flex-direction: column;
}

.cbCont2 {
  display: flex;
  flex-direction: column;
 margin-left: auto;
 /* margin-top: auto; */
}


.navbar {
  justify-content: initial;
  background-color: rgb(141, 192, 141);
}

#navID {
  justify-content: initial;
}

/* span {
  color: white;
  text-shadow: 1px 1px 3px black;
} */

.navBtn {
  color: white;
  text-shadow: 1px 1px 3px black;
}

#cardDisplayMain {
  background-color: #796D5B;
}

#titleCont {
  background-color: #F8ECDB;
  border: 5px solid #575046;
  border-radius: 25px;
}

#pageTitle {
  padding-top: 5px;
  font-size: xx-large;
}

.selectedCol .card {
  border: 2px solid #CFBF00;
}

/* .pigeon-overlays {

} */

#mapCont > div {
  border-radius: 25px;
}

#mapCont {
  border: 5px solid #575046;
  border-radius: 25px;
  height: 310px;
}

#formRow {
  background-color: #796D5B;
}

#cardCol .card{
  background-color: #F8ECDB;
  border: 2px solid #575046;
}

#logo {
  max-width: 10%;
  min-width: 75px;
} 

#logoText {
  width: 100%;
  padding: 0;
  color: white;
  align-self: center;
  text-shadow: 1px 1px 3px black;
}

#toggler {
  position: fixed;
  right: 10px;
  top: 10px;
}

@media screen and (max-width: 600px) {
  .card-title h5{
    font-size: x-small;
  }

  .card-subtitle h6{
    font-size: x-small;
  }

  .card-text{
    font-size: x-small;
  }

  .cardDate{
    font-size: x-small;
  }

  .cardDist {
    font-size: x-small;
  }

  .card img {
    width: 100px; /* width of container */
    height: 100px; /* height of container */
    object-fit: cover;
  }

  #pageTitle {
    font-size: large;
  }

  /* #input {
    width: 75px;
  } */

 }