.body {
  font-family: Federo, sans-serif;
  background-color: #796D5B;
  background-image: url("../src/textures/fabric-dark.png");
}

.footer{
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-top: 5px groove #575046;
  background-image: url("../src/textures/fabric-dark.png");
}

#display {
  margin-top: 20px;
}

/* #cardCol {
  overflow-y: scroll;
  height: 525px;
} */

#cardCol {
  margin-bottom: 90px;
}


.card {
  margin: 5px;
  flex-direction: row;
  /* overflow: hidden; */

}

 .card img {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  border-right: 2px solid #575046;
} 

.card-body {
  padding: 0px;
  display: flex;

  margin: 5px;
}

.card-text {
  /* margin: 0px; */
  font-size: small;
  margin-top: auto;
}

.cardDist {
  margin-bottom: auto;
  margin-left: auto;
}

.cbCont1 {
  display: flex;
  flex-direction: column;
}

.cbCont2 {
  display: flex;
  flex-direction: column;
 margin-left: auto;
 /* margin-top: auto; */
}


.navbar {
  justify-content: initial;
  background-color: rgb(141, 192, 141);
  border-bottom: 5px ridge #575046;
  background-image: url("../src/textures/black-linen.png");
}

.navbar button {
  /* background-color: rgb(141, 192, 141);
  background-image: url("../src/textures/black-linen.png"); */
  background-color: transparent !important;
  border: 0px transparent solid;
}

.navbar button:hover {
  background-color: rgb(106, 146, 106);
}

#navID {
  justify-content: initial;
}

/* span {
  color: white;
  text-shadow: 1px 1px 3px black;
} */

.navBtn {
  color: white;
  text-shadow: 1px 1px 3px black;
}

path {
  /* fill: black;
  stroke: goldenrod */
}

#cardDisplayMain {
  background-color: #796D5B;
  background-image: url("../src/textures/fabric-dark.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png"); */
}

#titleCont {
  background-color: #F8ECDB;
  border: 5px solid #575046;
  border-radius: 25px;
  font-family: Courgette, serif;
  background-image: url("../src/textures/cloth-alike.png");
}

#homeMain {
  background-color: #F8ECDB;
  border: 5px solid #575046;
  border-radius: 25px;
  padding-bottom: 25px;
  background-image: url("../src/textures/cloth-alike.png");
}

#pageTitle {
  padding-top: 5px;
  font-size: xx-large;
  color: #575046;
  text-shadow: 1px 1px 3px #796D5B;
}

#welcomeTitle {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  font-size: xx-large;
  color: #575046;
  text-shadow: 1px 1px 3px #796D5B;
}

.card-body .card-title {   
  /* color: #796D5B;
  text-shadow: 1px 1px 5px #575046; */
  text-decoration: underline;
}

.card-body .card-subtitle {   
  font-style: italic;
}

.selectedCol .card {
  border: 2px solid #CFBF00;
  background-color: #F8ECDB;
  background-image: url("../src/textures/cloth-alike.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png"); */
}

/* .pigeon-overlays {

} */

#mapCont > div {
  border-radius: 25px;
}

#mapCont {
  border: 5px solid #575046;
  border-radius: 25px;
  height: 310px;
}

#formRow {
  background-color: #796D5B;
  padding: 0px;
}

#cardCol .card{
  background-color: #F8ECDB;
  border: 2px solid #575046;
  background-image: url("https://www.transparenttextures.com/patterns/cloth-alike.png");

  font-family: Courgette, serif;
}

#logo {
  max-width: 10%;
  min-width: 75px;
} 

#logoText {
  width: 100%;
  padding: 0;
  color: white;
  align-self: center;
  text-shadow: 1px 1px 3px black;
}

#toggler {
  position: fixed;
  right: 10px;
  top: 10px;
}

@media screen and (max-width: 600px) {
  .card-title h5{
    font-size: x-small;
  }

  .card-subtitle h6{
    font-size: x-small;
  }

  .card-text{
    font-size: x-small;
  }

  .cardDate{
    font-size: x-small;
  }

  .cardDist {
    font-size: x-small;
  }

  .card img {
    width: 100px; /* width of container */
    height: 100px; /* height of container */
    object-fit: cover;
  }

  /* #pageTitle {
    font-size: large;
  } */

  /* #input {
    width: 75px;
  } */

 }